.about-banner {
    min-height: 80vh;
    background-image: url('../../image/about.jpg');
    background-size: cover;
}
.about-banner-div {
    padding: 0 26%;
    background: #163379cc;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-banner-div h1 {
    font-family: revert;
    font-size: 55px;
    color: white;
}
.about-banner-div p {
    text-align: center;
    font-family: cursive;
    color: aquamarine;
    padding-top: 5%;
    border: 1px solid white;
    border-width: 0px 0px 1px 0px;
    padding-bottom: 2%;
}

.about-info{
    display: flex!important;
    padding: 3% 6%;
}
.about-info-1 {
    width: 50%;
}
.about-info-2 {
    padding: 0 9%;
    width: 50%;
}
.about-info-2 h4 {
    padding-top: 45%;
    padding-bottom: 4%;
}